# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
    
    1. Python
    2. Matlab
    3. JavaScript

Some of the commonly used libraries used by Data Scientists include:

    1. Scrapy
    2. BeautifulSoup
    3. NumPy
    4. SciPy

| Data Science Tools |
| --- | 
| Anaconda| 
|  | 
| Matlab| 
|  | 
| Pycharm| 
|  |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
##This a simple arithmetic expression to mutiply then add integers

3*4+5

17

In [5]:
##This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

**Objectives:**

   - Python
   - Matlab
   - JavaScript

## Author

 Shoug Hamad Almutair